<h1>Leave your Comment!</h1>
  <%= form_for :comment, url: "/questions/#{@answer.question_id}/answers/#{@answer.id}/comments" do |f| %>
    Comment: <%= f.text_area :c_content %>
    <%= f.submit "Post your Comment" %>
  <% end %>
  
<a href="/questions">Questions</a>
