<div id="comment-form-wrap-qshow">
    <div class="comment-form-wrap">
    <%= form_for :comment, url: "/questions/#{@question.id}/comments" do |f| %>
      <ul class="c-errors">
        <% if flash.now[:errors] %>
          <% flash.now[:errors].each do |error| %>
           <p class="comment-error">-<%= error %></p><br />
          <% end %>
        <% end %>
      </ul>
      <%= f.text_field :c_content, placeholder: "Add a comment...", class: "comment-input" %>
      <%= f.submit "Comment", class: "comment-submit-btn" %>
      <% end %>
      <button id="cancel-comment-btn" style="display:inline;">Cancel</button>
    </div>
  </div>
