<div class="splash-div-container">
  <div class="inner-splash-container">
      <h1 class="splash-title">Mockr</h1>
      <h2 class="splash-other-title">mo◦ck◦r <p class="other-title-split" style="font-size: 25px;">[mock-er] noun.</p></h2>
      <p class="splash-phrase">1.Platform for crowdsourcing all kinds of questions. Quora/Interque clone.</p>
      <div class="splash-link-wrap">
        <a href="/questions" class="mockr-questions-splash">Questions</a>
        <a href="https://github.com/kcha0611" class="github-splash">Github</a>
        <a href="https://linkedin.com/in/kencha" class="linkedin-splash">LinkedIn</a>
      </div>
  </div>
</div>
