<div class="about-us-wrap">
  <img class="about-us-bkground" src="http://res.cloudinary.com/dllnnnotc/image/upload/v1473203338/438082_d99hyh.png" />
  <div class="inner-about-wrap">
    <a href="https://www.quora.com"> <img class="quora-logo" src="http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,w_200/v1473204331/2000px-Quora_logo.svg_dgsppp.png" /></a>
    <a href="https://www.stackexchange.com"><img class="s-ex-logo" src="http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,h_85,w_200/v1473204717/Stack-Exchange-Logo-Retina_dsveym.png" /></a>
    <a href="https://www.stackoverflow.com"><img class="s-ov-logo" src="http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,h_85,w_200/v1473205026/so-logo_nw6wfi.png" /></a>
    <a href="https://www.interque.co"><img class="int-logo" src="http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,h_85,w_200/v1473205298/interque-white-251af305b7ed0ae811c144f84cc685f4_hfzscg.png" /></a>
    <h2 class="cloned"> Websites I cloned </h2>
    <div class="inner-about-wrap2">
      <img src="http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,h_85,w_200/v1473206089/rubyrails_zrdmes.png" class="ror-logo" />
      <img src="http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,h_85,w_115/v1473206428/2000px-HTML5_logo_and_wordmark.svg_gdgwdn.png" class="html-logo" />
      <img src="http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,h_85,w_115/v1473206601/css_p1b4uv.jpg" class="css-logo" />
      <img src="http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,w_115/v1473206761/52460_sqv7se.png" class="jquery-logo" />
      <h2 class="languages-used"> Languages I used </h2>
    </div>
  </div>
</div>
