// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer-vote-btn {
  padding: 6px 10px 7px 10px;
  color: #2865a1;
  border: 1px solid #bbcadc;
  background: #f1f8fb;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
}

.num-upvotes-qshow {
  padding-left: 6px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.answer-wrap {
  font-size: 1.1em;
}

.answer-profile-tag {
  margin-top: 7%;
  background: #5cb85c;
  color: white;
  width: 76%;
  height: 51px;
  display: flex;
  align-items: center;
  border-radius: 27px;
}

.answer-pro-img {
  height: 58px;
}

.qshow-a-content {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 21px;
  line-height: 1.4;
  color: #333;
}

.answer-comment-btn {
  border: 1px solid #bbcadc;
  width: 95px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background: #f1f8fb;
  border-radius: 3px;
  text-decoration: none;
  font-size: 20px;
  color: #2b6dad;
  width: 115px;
  position: relative;
  top: 4.5px;
  margin-left: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  height: 28px;
}

.answer-img-show {
  position: relative;
  right: 4px;
}

.answer-dvote-btn, .answer-comments-btn {
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #999;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#answer-form-wrap {
  margin-top: 9%;
}

.a-form-info-wrap {
  background: #f6f6f6;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  padding: 10px;
}

.form-answer-btn {
  display: inline;
  background: #3e78ad;
  border: 1px solid #3a66ad;
  padding: 4px 7px 5px 7px;
  text-align: center;
  font-weight: 500;
  color: white;
  border-radius: 3px;
  margin-left: 78%;
}

.hide-answer-btn {
  background: #5cb85c;
  border: 1px solid #4cae4c;
  padding: 4px 7px 5px 7px;
  text-align: center;
  font-weight: 500;
  color: white;
  border-radius: 3px;
  float: right;
  position: relative;
  bottom: 26px;
}

p.answer-error {
  margin-top: 0;
  color: red;
}


.answer-dvote-btn {
  border: none;
  background: white;
}

button:hover {
  cursor: pointer;
}

.num-a-comments-wrap {
  margin-bottom: 5%;
  font-size: 24px;
  border-bottom: 2px solid #e2e2e2;
  font-weight: bold;
}
