// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#comment-form-wrap-qshow {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.comment-submit-btn {
  display: inline;
  background: #3e78ad;
  border: 1px solid #3a66ad;
  // box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
  padding: 4px 7px 5px 7px;
  text-align: center;
  font-weight: 500;
  color: white;
  border-radius: 3px;
  margin-left: 75%;
}

.comment-input {
  display: inline;
  width: 70%;
  height: 30px;
  // border-radius: 2px;
  border: 1px solid #e2e2e2;
  padding-left: 4px;
  margin-right: 1.5%;
}

.comment-form-wrap {
  margin-top: 5%;
  background: #f6f6f6;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
}

#cancel-comment-btn {
  background: #5cb85c;
  border: 1px solid #4cae4c;
  padding: 4px 7px 5px 7px;
  text-align: center;
  font-weight: 500;
  color: white;
  border-radius: 3px;
  float: right;
  position: relative;
  bottom: 26px;
}

#comment-index-wrap {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
}

.user-name-comment {
  font-weight: bold;
  position: absolute;
  font-size: 14px;
  // top: 5px;
  width: auto;
}

.comment-content {
  float: left;
  margin-top: 10px;
  margin-left: 4px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-spacing: 1.5px;
}

.inner-comment-wrap {
  display: flex;
  flex-direction: row;
}

.upvote-btn-comment {
  width: 10%;
  display: inline;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #999;
  border: none;
  background: #f6f6f6;
  padding: 0;
}

.downvote-btn-comment {
  background: #f6f6f6;
  color: #999;
  font-size: 14.1px;
  font-weight: 400;
  border: none;
  margin-right: 1%;
}

.upvote-btn-comment:hover, .downvote-btn-comment:hover {
  cursor: pointer;
}

.comment-footer-wrap {
  display: flex;
  flex-direction: row;
}

.comment-footer-index {
  margin-bottom: 3%;
}

.num-votes-comment {
  display: inline;
  color: #999;
  font-weight: normal;
  margin-left: 7px;
}

.comment-form-name {
  position: relative;
  bottom: 28px;
  font-weight: bold;
}

.comment-form-occupation {
  margin-left: 9%;
  color: #999;
  font-weight: 400;
}

.answer-form-occupation {
  margin-left: 8%;
  color: #999;
  font-weight: 400;
}

p.comment-error {
  float: left;
  color: red;
}

ul.c-errors {
  padding: 0;
  margin-top: 0;
}

.comment-user-img {
  background: #f6f6f6;
}

#votes-by-comment {
  position: absolute;
  margin-left: 18.3%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.82em;
}

@media only screen and (max-width: 2500px) {
    .user-name-comment {
      margin-left: 5.5%;
    }
    #votes-by-comment {
      margin-left: 16%;
    }
    .upvote-btn-comment {
      margin-left: 3%;
    }
    .answer-form-occupation {
      margin-left: 6%;
    }
    .form-answer-btn {
      margin-left: 85%;
    }
    .comment-submit-btn {
      margin-left: 82%;
    }
    div.improve-feed {
      width: 15%;
    }
    div.questions-for-you {
      margin-left: 7.45%;
    }
    .answer-pro-occ {
      position: absolute;
      left: 0;
    }
    .question-a-tag {
      position: relative;
      top: 25%;
      display: flex;
      justify-content: center;
    }
    img.male-img-index, img.female-img-index {
      position: relative;
      top: 12px;
      height: 33px;
    }
    .inner-question-form-wrap {
      height: 625px;
      margin-top: 5.5%;
    }
    .inner-signup-wrap {
      height: 62%;
    }
    .signup-title {
      margin-bottom: 0;
    }
    .improve-feed {
      width: 250px;
    }
    .comment-form-occupation {
      margin-left: 6.5%;
    }
}


@media only screen and (max-width: 1400px) {
    .user-name-comment {
      margin-left: 4px;
    }
    #votes-by-comment {
      margin-left: 19%;
    }
    .upvote-btn-comment {
      margin-left: 6%;
    }
    .question-a-tag {
      position: relative;
      top: 30%;
    }
    .profile-occ {
      width: 99%;
    }
    .answer-pro-occ {
      left: 7.6%;
      position: absolute;
    }
    div.questions-for-you {
      margin-left: 5.45%;
    }
    .inner-question-form-wrap {
      height: 585px;
    }
    .inner-signup-wrap {
      height: 500px;
    }
    div.improve-feed {
      width: 250px;
    }
    .answer-form-occupation {
      margin-left: 8.7%;
    }
    .comment-submit-btn {
      margin-left: 75%;
    }
    .form-answer-btn {
      margin-left: 79%;
    }
}
